<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error 404</title>
  <style>
    .image{
      text-align: center;
      color: #FF0033;
    }
    a:link{
      text-decoration: none;
      color: #FF5349;
    }
    a:visited{
      text-decoration: none;
      color: #FF4D00;
    }
  </style>
</head>
<body>
  <figure class="image">
    <h2><a href="/">Go to home page</a></h2>
    <p><a href="/"><img src="images/404.jpg" alt="NOT FOUND THIS PAGE"></a></p>
  </figure>
</body>
</html>
